{% import "_includes/forms" as form_elements %}

<div class="sidebar"></div>

{% if forms|length > 0 %}
{% for form in forms %}

    <h2>{{ form.name }}</h2>

    {{ form_elements.lightswitchField({
        label:        "Enabled",
        instructions: "When disabled the form will not be shown",
        name:         'forms[' ~ form.handle ~ '][enabled]',
        on:           form.settings.enabled,
        errors:       false
    }) }}

    {{ form_elements.lightswitchField({
        label:        "Logging",
        instructions: "When enabled the results from the form will be logged into the database",
        name:         'forms[' ~ form.handle ~ '][enabled_logging]',
        on:           form.settings.enabled_logging,
        errors:       false
    }) }}

    <h3>Information mail</h3>

    {% if form.getMailOwner() %}
        {{ form_elements.textField({
            label:        "Information mail - receiving email adress",
            instructions: "The emailadress to which the information mail may be send",
            name:         'forms[' ~ form.handle ~ '][mail_to]',
            value:        form.settings.mail_to,
            errors:       false
        }) }}

        {{ form_elements.textField({
            label:        "Information mail - subject",
            instructions: "The subject of the mail that contains the filled in form information",
            name:         'forms[' ~ form.handle ~ '][mail_subject_owner]',
            value:        form.settings.mail_subject_owner,
            errors:       false
        }) }}
    {% else %}
        <p>Add the file <strong>{{ form.handle }}MailOwner.php</strong> to create an email that will be send with the filled in form information</p>
    {% endif %}

    <h3>Thank you mail</h3>

    {% if form.getMailCustomer() %}
        {{ form_elements.textField({
            label:        "Thank you mail - subject",
            instructions: "The subject of the thank you mail that will be send to the person who filled in the form",
            name:         'forms[' ~ form.handle ~ '][mail_subject_customer]',
            value:        form.settings.mail_subject_customer,
            errors:       false
        }) }}
    {% else %}
        <p>Add the file <strong>{{ form.handle }}MailCustomer.php</strong> to create an email that will be send to the customer</p>
    {% endif %}

    <hr>
{% endfor %}
{% else %}
    <h2>You are almost there</h2>
    <p>You need to add a new directory `forms` to the root directory of your craft project (next to your config and templates directory) or copy the forms directory from the examples folder in the plugin directory</p>
    <p>If you still do'nt see anything then you probably did not follow the entire <a href="https://github.com/Dolphiq/craft3-forms#creating-a-new-form">guide</a> to create a new form </p>
{% endif %}